<!doctype html>
<html>
	<head>
		<script src="lib/jquery-1.11.3.min.js"></script>
		<script src="lib/typescript-1.5beta.js"></script>
		<script src="lib/marked.js"></script>
		<script src="lib/loader.js"></script>
		
		<script>
			importer.importTsSrc('lib/lib.d-1.5beta.ts');
			importer.importTsSrc('lib/jquery.d.ts');
			importer.importTsSrc('lib/runtime.ts');
			
			// Add other imports here for your actual game code
		</script>

		<script type="typescript" data-filename="_.ts">
			// You can put Typescript code for initializing your game
			//  directly here (or in external Typescript files)
			story.addLoadListener( () => { story.hideLinks = false; } );
		</script>
		
		<!-- 
		You can embed your Twee.ts code directly in this web page below or put 
		them in external files that will be imported at runtime. 
		-->
		<script type="twee.ts">

					:: /sub/Passage1 [start] [SomeOtherTag] [tag = test]
					<%= passage().name %> from <%= previous().name %>
					<%= this.hasTag('start') %>
					<%= this.getTagValue('tag') %>
					visited Start: <%= visited(book.Start) %> Passage1: <%= visited(book.sub.Passage1) %> Passage2: <%= visited(book.sub.Passage2) %>
					<% var b = 'John'; %>
					Hello, how are you, <%=b%>?

					[[2nd passage -> <%= this.p.Passage2.name %>]]
					<% include(book._3rd_passage); %>
					:: sub/Passage2

					2nd passage [[/3rd passage]]
					:: 3rd passage
					3rd passage code
					
					[[ Back to start -> /Start]]
					[[a/b/extraPassage]]
					
					::: [module=/a/b]
					::extraPassage
					[[Back to start -> ../../Start]]
				</script>
				<script type="twee.ts">
					::Start
					<%= passage().name %>
					This is where things start
					
					[[Go to first passage -> sub/Passage1]]
					
					<% fallthrough(book.sub2.sub3.AlternateStart) %>
					
					:: sub2/sub3///AlternateStart
					alternate start
					[[ relativePath -> ../../sub/Passage2]]
				</script>		

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="lib/basic.css">
	</head>
	<body>
	<div id="passage">
	Loading. Please wait.
	</div>
	</body>
</html>